{
  "presets": [
    "@babel/env", 
    ["@babel/preset-react", {
      "runtime": "automatic"
    }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", {
        "regenerator": true
    }],
    ["@babel/plugin-transform-react-jsx", {
      "runtime": "automatic"
    }],
    [
      "babel-plugin-import",
      {
        "libraryName": "@mui/material",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "core"
    ],
    [
      "babel-plugin-import",
      {
        "libraryName": "@mui/icons-material",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "icons"
    ]    
    //import "*.scss" будет транспилировать в CSS и будет head из document
   // "babel-plugin-transform-scss"
  ]
}
